
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dot</title>

<link href="{{url_for('static',filename='/css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='/css/fa-all.min.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='/css/custom.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='/css/style.css')}}" />
<link rel="shortcut icon" type="image/png" href="{{url_for('static',filename='pfp.png')}}" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
<script data-ad-client="ca-pub-7949012387824300" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<style>

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #CCCCCC;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #CCCCCC;
  text-decoration: none;
}

.button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
}

.imageee {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 80px;
}

@font-face {
    font-family: 'arkibal_displaybold';
    src: url('font.woff2') format('woff2'),
         url('font.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
    </style>
<script defer src="{{url_for('static',filename='/js/fa-all.min.js')}}"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166764980-1"></script>
<script data-ad-client="ca-pub-7949012387824300" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  window.dataLayer = window.dataLayer || []c;
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166764980-1');
</script>
</head>
<body>
<header>
<div class="header-content">
<div class="uwu">
<div class="floating">
<img src="{{url_for('static',filename='pfp.png')}}" class="logo" draggable="false" style="width:200rm;height:200rm;">
</div><br><br>
</div>
<h2>
Drop the topic
</h2><br><br><br><br>
<a href="https://github.com/Manan006/" class="btn btn-primary btn-lg" target="_blank" style="background-color:#24292E"><i class="fab fa-github"></i> GitHub</a>
<a href="r/hireme" class="btn btn-primary btn-lg" target="_blank" style="background-color:#7289DA"><i class="fab fa-discord"></i> Order a comission</a>
<a href="r/steam" class="btn btn-primary btn-lg" target="_blank" style="background-color:#171A21"><i class="fab fa-steam"></i> Steam</a>
<a href="r/Spotify" class="btn btn-primary btn-lg" target="_blank" style="background-color:green"><i class="fab fa-spotify"></i> Spotify</a>
</div>
</header>

<center>
<div class="projects">
<h1><i class="fas fa-user"></i> About Me</h1>
<p>I'm just an Ordinary kid who likes to code.<br>
Nothing much to see here<br>
I can code and that's it xD<br>
<hr>
<h1><i class="fas fa-user"></i> Discord Bot Development</h1>
<h4>(commissions are open, please hire me, thanks.)</h4>
<a class="anchor" id="jagtag"></a>
<div class="project">
<img src="https://cdn.discordapp.com/avatars/640773439115886642/afe8b79a2608bd76425b6d19e5b2127c.webp?size=256" draggable="false" />
<h2>Dot#4627</h2>
<p>I like to code and you you can hire me if you want :)<br>
I can do any & everything. Contact me for a Quote.<br></p>
<a target="_blank" href="r/hireme" class="btn btn-primary btn-lg" style="background-color:#7289DA"><i class="fab fa-discord"></i> Order a commission</a>
</div>
<hr>
<h1><i class="fab fa-discord"></i> Discord servers I like</h1>
<a class="anchor" id="jagtag"></a>
<div class="project">
<img src="https://cdn.discordapp.com/icons/721318863433629707/a_23a1cf667d5fb1df069f79e2cfe07eb3.gif?size=256" draggable="false" />
<h2>Skyblock Services</h2>
<p>Skyblock Services is a fast growing Hypixel Skyblock server where you can hire people to help you get better in the game without doing much at all!<br><br>
  Giveaways from 1m to 100m coins daily! join and see!<br>
  ༺═━──<br>
  ●What We Have●<br>
  ──━═༻<br>
  ♢Frequent Giveaways, such as, 24h God Pots, Millions of Coins, PayPal, Nitro, and much more!<br>
  ♢Frequent Events, such as, Parkour, PvP, Building Competitions, and much more!<br>
  ♢Non Toxic Community<br>
  ♢Cool Staff and Experts
  <br><br><br></p>
<a target="_blank" href="https://discord.gg/skyblocks" class="btn btn-primary btn-lg" style="background-color:#7289DA"><i class="fab fa-discord"></i>  Join Today</a>
</div>
<a class="anchor" id="jagtag"></a>
<div class="project">
<img src="https://cdn.discordapp.com/icons/674474377286516736/a_c93eead3a2f27eccf98e0e46b8e60893.webp?size=256" draggable="false" />
<h2>Paradise Network</h2>
<p>Paradise Network is hypixel skyblock discord, We strike to improve your experience!<br>
<br>
We have lots of server-features that have been worked upon by us<br>
1. Excelent Moderation.<br>
2. Custom XP system (similar to Mee6).<br>
3. Unique currency system with a server shop (coming soon)!<br>
4. Lot's of community events!<br>
5. Quests and much more!<br><br><br></p>
<a target="_blank" href="http://bit.ly/JoinPARA" class="btn btn-primary btn-lg" style="background-color:#7289DA"><i class="fab fa-discord"></i>  Join Today</a>
</div>
<a class="anchor" id="jagtag"></a>

</center>
<footer>
&copy; 2021-2021 Dot<br>
Thank you Jagrosh for making <a target="_blank" href="https://github.com/jagrosh/jagrosh.github.io">your website open source</a>.<br>
And Thanks to <a target="_blank" href="https://github.com/jagrosh/jagrosh.github.io">Scrumpy</a> for inspiration(copy pasta xD)
</footer>
<script src="{{url_for('static',filename='js/jquery-1.11.3.min.js')}}"></script>
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='js/jquery.easing.min.js')}}"></script>
<script src="{{url_for('static',filename='js/custom.js')}}"></script>
<script src="{{url_for('static',filename='js/smooth-scroll.js')}}"></script>
</body>
</html>



